html {
  overflow-y: hidden;
}

.fullscreen {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 8px;
  gap: 16px;
  height: 100vh;
}

.explorer {
  display: flex;
  gap: 8px;
  height: calc(100vh - 228px);
}

.snapshots, .files {
  flex: 1 0 360px;
  border: 1px solid #ddd;
  overflow-y: auto;
  height: 100%;
  padding: 8px;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}

.form-fields {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

.form-left {
  flex: 1 0 360px
}

.form-right {
  flex: 1 0 200px;
}

textarea {
  width: 100%;
}
